 html, body {
      scroll-behavior: smooth;
    }
    .fade-in {
      opacity: 0;
      transform: translateY(10px);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .fade-in.show {
      opacity: 1;
      transform: translateY(0);
    }

.font-title {
   font-family: "Source Code Pro", monospace;

}

.font-body {
   font-family: "Inconsolata", monospace;
   
}

h1{
    size: 40px;

}

h2{
    size: 40px;
    color: white;
}

p{
    size: 20px;
}

@media (min-width: 1024px) {
    .float-img {
      float: left;
      margin-right: 2rem;
      margin-bottom: 1rem;
      max-width: 250px;
    }
  }

  .typeit-cursor {
   color:#818cf8; /*indigo-400
   */
}

